{% set layout = paragraph.field_flash_sale_p_orientation[0].value == 'image_left' ? "regular" : "inverted" %}

<div class="wide-flash-sale--paragraph--flash-sale-description {{ layout }}">
    <div class="about-watch-img {{ layout }}" data-aos="fade-{{ layout == "inverted" ? "left" : "right" }}">
        <div class="about-watch-content">
            {{ content.field_flash_sale_p_image[0] }}
        </div>
    </div>
    <div class="about-watch-txt {{ layout }}" data-aos="fade">
        <div class="about-watch-content">
            <h3>{{ content.field_flash_sale_p_title }}</h3>
            {{ content.field_flash_sale_p_text }}
        </div>
    </div>
    <div class="clearer"></div>
</div>