<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ demo.title }}</title>
    <link rel="stylesheet"
          href="https://www.tagheuer.com/themes/custom/sapient_classy/css/tag_css/sapient.ver.1.0.0.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="{{ demo.class }}">
<div>
    {% for font in fonts %}
        <div class="{{ demo.class }}--font {{ font.name }}">
            <div class="title">
                <h1>{{ font.name|capitalize }}</h1>
                <code>@include {{ font.name|capitalize }}Font();</code>
            </div>
            {% for style in font.styles %}
                {% for weight in font.weights %}
                    <div class="{{ demo.class }}--sample" style="font-style: {{ style }}; font-weight: {{ weight }};">
                        <div class="title">
                            <code>font-style: {{ style }}; font-weight: {{ weight }};</code>
                        </div>
                        <span>{{ font.content }}</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
</body>
</html>