{% set commerce = check_commerce() %}
{% set current_language = get_current_language() %}
{% set price = get_price(sku_nid) %}

<article{{ attributes.addClass("wide-flash-sale--node--wide-flash-sale-flash-sale") }} data-sku="{{ sku_nid }}">
    {% if display_submitted %}
        <footer>
            {{ author_picture }}
            <div{{ author_attributes }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}
    
    <div{{ content_attributes }}>
        <section class="slider-content"
                 style="background-image: url('{{ file_url(node.field_flash_sale_background.entity.uri.value) }}');">
            <div>
                <div class="slider-watch-events">
                    {% if node.field_flash_sale_header_back_l %}
                        <div id="scene" class="slider-scene">
                            <div class="layer slider-background-cloud left" data-depth="0.15">
                                <img src="{{ file_url(node.field_flash_sale_header_back_l.entity.uri.value) }}"
                                     alt="background cloud">
                            </div>
                            <div class="layer slider-background-cloud top-right" data-depth="0.07">
                                <img src="{{ file_url(node.field_flash_sale_header_back_tr.entity.uri.value) }}"
                                     alt="background cloud">
                            </div>
                            <div class="layer slider-background-cloud right" data-depth="0.12">
                                <img src="{{ file_url(node.field_flash_sale_header_back_r.entity.uri.value) }}"
                                     alt="background cloud">
                            </div>
                            <div class="layer slider-background-cloud center" data-depth="0.22">
                                <img src="{{ file_url(node.field_flash_sale_header_back_c.entity.uri.value) }}"
                                     alt="background cloud">
                            </div>
                        </div>
                    {% endif %}
                    <div class="slider-watch-events-title">
                        <h1>{{ label }}</h1>
                    </div>
                    <div class="slider-watch-events-info">
                        {{ content.field_flash_sale_subtitle }}
                        <span class="slider-watch-details">{{ content.field_flash_sale_description }}</span>
                    </div>
                    <a class="slider-watch-image" target="_blank">
                        <div>
                            <div class="bg">
                                <div class="clock">
                                    {{ content.field_flash_sale_main_image }}
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="wide-flash-sale--modal pdf-preview">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                                </div>
                                <div class="modal-body">{{ node.field_flash_sale_pdf_url_preview.value }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-watch-shop">
                        <span class="slider-watch-hashtag">{{ content.field_flash_sale_hashtag }}</span>
                        <span class="slider-watch-hashtag-text">{{ content.field_flash_sale_right_desc }}</span>
                        <div class="slider-watch-cart">
                            <span class="slider-watch-price">{{ price.price|replace({'CHF':'CHF '}) }}</span>
                            <a href="/{{ current_language }}/checkout/cart?product={{ node.field_flash_sale_sku.value }}"
                               title="{{ translate("Add to cart") }}" class="event-watch-cart-btn">
                                <span>{{ translate("Shop now") }}</span>
                            </a>
                            <span class="slider-watch-shipping">*shipping costs and taxes included</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="closeup-watch">
            {{ content.field_flash_sale_images }}
        </section>
        
        <section class="video-watch">
            <div class="field-video">
                <div>
                    <div class="title">
                        <h2>{{ 'Video'|t }}</h2>
                    </div>
                    <div class="video-watch-wrapper" data-aos="fade">
                        {{ content.field_flash_sale_video }}
                    </div>
                </div>
            </div>
        </section>
        
        <section class="about-watch"
                 style="background: url('{{ file_url(node.field_flash_sale_desc_background.entity.uri.value) }}')">
            {{ content.field_flash_sale_product_desc }}
        </section>
        
        <section class="shop-watch">
            <div>
                <div>
                    <div class="shop-watch-img-cta">
                        <div>
                            <div class="shop-watch-img" data-aos="fade-up">
                                <div class="shop-watch-content">
                                    {{ content.field_flash_sale_main_image }}
                                </div>
                            </div>
                            <div class="shop-watch-cta" data-aos="fade-down">
                                <div class="shop-watch-content">
                                    <span class="slider-watch-hashtag">{{ content.field_flash_sale_hashtag }}</span>
                                    <span class="slider-watch-hashtag-text">{{ content.field_flash_sale_right_desc }}</span>
                                    <div class="slider-watch-cart">
                                        <span class="slider-watch-price">{{ price.price|replace({'CHF':'CHF '}) }}</span>
                                        <a href="/{{ current_language }}/checkout/cart?product={{ node.field_flash_sale_sku.value }}"
                                           title="{{ "Add to cart"|t }}" class="event-watch-cart-btn">
                                            <span>{{ translate("Shop now") }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="terms-of-sale">
                        <div>
                            <div class="shop-watch-terms" data-aos="fade">
                                <div class="shop-watch-content">
                                    <h3>{{ content.field_flash_sale_footer_title }}</h3>
                                    <span>{{ content.field_flash_sale_footer_text }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="modal fade popin-lang" tabindex="-1" role="dialog" aria-labelledby="lang">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    {{ popin_flashsale }}
                </div>
            </div>
        </div>
    </div>
</article>

